@import url("https://use.typekit.net/nqc6dtd.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.cabecalho {
    padding: 2% 1% 1% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    color: #7f00f5;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__links:hover {
    color: #ff4500;
}

.apresentacao {
    position: flex;
    text-align: center;
    z-index: 2;
}

.apresentacao__conteudo {
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: left;
    font-size: 40px;
    z-index: 2;
    margin-right: 20px;
}

.banner__container {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 0 8px rgb(41, 1, 1);
    text-align: center;
    margin-left: 20px;
}

.banner__principal {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.degrade-sobreposto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: 2;
}

.apresentacao__apresentacao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 20px;
}

.blocos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.bloco {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.bloco__img-cn img {
    width: 65%;
    height: auto;
    box-shadow: 0 0 0 15px rgb(128, 115, 115);
}

.bloco__sinopse {
    width: 30%;
}

.sinopse__texto {
    font-family: "acumin-pro", sans-serif;
}

.bloco__creditos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
}

.creditos__item {
    margin-bottom: 1em;
}

.creditos__item h4 {
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .apresentacao__conteudo {
        font-size: 6vw;
    }

    .blocos {
        flex-direction: column;
        align-items: center;
    }

    .bloco {
        width: 80%;
    }
}

.rodape {
    padding: 15px;
    color: palevioletred;
    background-color: #4e0196;
    text-align: center;
    font-family: 'Righteous', sans-serif;
}
