@import url("https://use.typekit.net/nqc6dtd.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.cabecalho {
    padding: 2% 1% 1% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    color: #7f00f5;
    font-family: sans-serif;
    font-size: 1.01rem;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__links:hover {
    color: #ff4500;
}

.apresentacao { 
    width: 50%;
    position: flex;
    text-align: center;
    z-index: 2;
}

.apresentacao__conteudo {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: left;
    font-size: 2.5rem;
    z-index: 2;
    margin-right: 20px;
}

.banner__container {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 0 8px rgb(41, 1, 1);
    text-align: center;
    margin-left: 20px;
}

.banner__principal {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}
.degrade-sobreposto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.973), transparent);
    z-index: 2;
}


.apresentacao__apresentacao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 20px;
}

.blocos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.bloco {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.bloco__img-cn img {
    width: 65%;
    height: auto;
    box-shadow: 0 0 0 15px rgb(128, 115, 115);
}

.bloco__bloco__sinopse{
    width: 30%;

}

.sinopse__texto h2,
.bloco__creditos h3 {
    margin-bottom: 10px; /* Adicione o valor desejado para o espaçamento */
    font-size: 1.6rem;
}
.texto__texto__sinopse{
    font-size: 1.3rem
}

.bloco__bloco__sinopse {
    width: 30%;
}

.bloco__creditos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
    font-size: 1rem;
}

.creditos__item {
    margin-bottom: 1em;
}

.creditos__item h4 {
    text-transform: uppercase;
    font-weight: bold;
}


@media (max-width: 430px) {
    .cabecalho {
        margin-bottom: 20px;
      
    }
    
    body {
        overflow-x: hidden; /* Impede a barra de rolagem horizontal */
        margin: 0; /* Remove margem do corpo da página */
    }

    .apresentacao__conteudo {
        font-size: 0.8rem;
        position: flex;
        top: 16%;
    }

    .banner__container {
        width: 100vw; /* Ocupa toda a largura da viewport */
        height: auto;
        display: block;
        box-shadow: 0 0 0 8px rgb(41, 1, 1);
        text-align: center;
        margin-left: 0; /* Altera a margem para 0 */
        margin-right: 0; /* Altera a margem para 0 */
    }

    .blocos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .bloco__img-cn img {
        width: 100vw; /* Ocupa toda a largura da viewport */
        margin-bottom: 10px;
        border: 2px solid white; /* Adiciona borda branca à imagem */
        box-sizing: border-box; /* Garante que a borda não aumente o tamanho total */
    }

    .bloco__bloco__sinopse,
    .bloco__creditos {
        width: 100vw; /* Ocupa toda a largura da viewport */
        border: 2px solid white; /* Adiciona borda branca à sinopse e aos créditos */
        box-sizing: border-box; /* Garante que a borda não aumente o tamanho total */
        padding: 10px; /* Adiciona algum espaço interno para melhorar a aparência */
    }

    .bloco__bloco__sinopse {
        order: 1; /* Altera a ordem para aparecer na esquerda */
    }

    .bloco__creditos {
        order: 2; /* Altera a ordem para aparecer abaixo da sinopse */
    }
    
    .rodape {
        margin: 0; /* Remove margem do rodapé */
        padding: 15px;
        color: palevioletred;
        background-color: #4e0196;
        text-align: center;
        font-family: 'Righteous', sans-serif;
        font-size: 1rem;
    }
}
